<div id="social">
    <a href="mailto:hi@bevdransfeldt.com" title="Email">
        {% tablericon "mail" %}
    </a>
    <a href="https://www.linkedin.com/in/bevdransfeldt" title="LinkedIn">
        {% tablericon "brand-linkedin" %}
    </a>
    <a href="https://www.facebook.com/BevDransfeldt/" title="Facebook">
        {% tablericon "brand-facebook" %}
    </a>
    <a href="https://substack.com/@bevdra" title="Substack">
        {% tablericon "book" %}
    </a>
    <a href="https://youtube.com/@bevdransfeldt" title="YouTube">
        {% tablericon "brand-youtube" %}
    </a>
</div>
