// colors
$primary: #5f2d9b;
$black: #000;
$white: #fff;

// fonts
$sansSerif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// sizing
$baseMeasure: 16px;

// devices
$mobile: 1023px;
$mobiles: 'screen and (max-width: #{$mobile})';